auto-save-list
*~
session.*
tramp
swank
emms
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/
/.sx/
/ensime/
vendors/
eshell/
ido.last
custom.el
ac-comphist.dat
.backups/*
.places/*
smex-items
!*.gitkeep
config/mail-accounts.el
network-security.data